select, button, .button {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
.file-button input[type=file] {
	zoom: 3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
