<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<title>Keyboard Layout</title>
<link rel="stylesheet" type="text/css" href="layout.css"/>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="layout.ie.css"/>
<![endif]-->
<script type="text/javascript" src="Blob.js"></script>
<script type="text/javascript" src="FileSaver.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="scrollintoview.js"></script>
<script type="text/javascript" src="../hotkeys.js"></script>
<script type="text/javascript" src="layout.js"></script>
</head>
<body>
<h1>Keyboard Layout</h1>

<a id="open-layout" class="file-button" style="display:none;"><span
	class="button">Open...</span><input type="file"/></a>
<button id="save-layout" style="display:none;">Save As...</button>
<button id="default-layout">Default</button>
<button id="clear-layout">Clear</button>

<label>Layout Name: <input id="layout-name" type="text"/></label>

<br/>

<label>Press all keys here (one at a time): <input id="input-keys" type="text" autofocus/></label>

<div id="multiple-modifiers">Please press only one key at a time!</div>

<table id="modifiers">
<thead>
<tr><th class="modifier">Modifier</th><th class="name">Name</th></tr>
</thead>
<tbody>
</tbody>
</table>

<table id="layout">
<thead>
<tr>
<th class="code" colspan="2">Key Code</th>
<th class="code">Char Code</th>
<th class="name">Key Name</th>
<th class="modifier">Modifier</th>
<th></th>
</tr>
<tr>
<td colspan="2" class="code"><form
	action="javascript:void(0)"><input type="number" min="1" id="new-key-code"/></form></td>
<td class="code"><form
	action="javascript:void(0)"><input type="checkbox" id="has-new-char-code"/>
<input type="number" min="1" id="new-char-code" disabled/></form></td>
<td class="name"><form
	action="javascript:void(0)"><input type="text" id="new-key-name"/></form></td>
<td class="modifier"><form
	action="javascript:void(0)"><select id="new-key-modifier"></select><span class="select-arrow">&#x25BE;</span></form></td>
<td><form
	action="javascript:void(0)"><button id="add-new-key" title="Add key">+</button></form></td>
</td>
</tr>
</thead>
<tbody></tbody>
<tfoot>
<tr>
<th class="code" colspan="2">Key Code</th>
<th class="code">Char Code</th>
<th class="name">Key Name</th>
<th class="modifier">Modifier</th>
<th></th>
</tr>
</tfoot>
</table>

</body>
</html>
