.hotkeys-config button.compose,
.hotkeys-config button.remove {
	border: none;
	border-radius: 1em;
	font-size: 0.8em;
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	padding: 0;
	margin: 0 0.1em;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background: #e0e0e0;
	color: #909090;
}

.hotkeys-config button.compose:hover,
.hotkeys-config button.remove:hover,
.hotkeys-config button.compose:active,
.hotkeys-config button.remove:active {
	background: #c6c6c6;
	color: white;
}

.hotkeys-config li button.compose,
.hotkeys-config li button.remove {
	opacity: 0.5;
}

.hotkeys-config li:hover button.compose,
.hotkeys-config li:hover button.remove {
	opacity: 1;
}

.hotkeys-config .name-cell {
	width: 100px;
}

.hotkeys-config .hotkeys {
	width: 500px;
}

.hotkeys-config td {
	vertical-align: top;
	padding: 0 0 1em 0;
}

.hotley-config {
    border-spacing:0;
    border-collapse:collapse;
}
